@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{

    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container 
{
    
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #4070f4;
}
.form
{     
    position: relative;
    left: 60px;
    font-weight: 700;
    padding:30px;
    border-radius: 6px;
    max-width:430px;
    width: 100%;
    background-color: #FFF;
}
header
{
    font-size: 30px;
    font-weight: 300;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}
.form .input
{
  width: 100%;
  padding: 10px 1px;
  outline:none;
  border-radius: 6px;
  border: 1.9px solid black;
}
.form .error
{
  border-color:red;
}
.form .success
{
  border-color:green;
}
button
{
  padding:10px;
  border: 1px solid grey;
  border-radius: 4px;
  cursor: pointer;
  width:100%;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 5px;
}
button:hover
{
  background-color: aqua;
}

.error-small{
  color:red;
}
.success-small
{
  color:white;
}

.table
{
  position: relative;
  left: 60px;
  font-weight: 700;
  padding:30px;
  border-radius: 6px;
  max-width:520px;
  width: 100%;
  background-color: #FFF;
  left:300px;
}
table,th,td,tr
{
  border: 2px solid black;
  border-collapse: collapse;
  width:450px;
  padding: 4px ;
}
.search
{
  position: relative;
  margin-bottom: 10px;
  margin-top: -20px;
  left:105px;
  height: 38px;
  border: 1px solid black;
  border-radius: 6px;
} #fa
{
  position: relative;
  left:76px;
  cursor: pointer;
}
.filter
{
  position: relative;
  max-width: 180px;
  height:40px;
}